{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="invite-status-text" style="text-align: center">
				<div class="invite-status-hdr" style="padding-bottom: 20px" align="center">
					<h1 class="section-caption" id="revoke-error-h1">Invite could not be revoked</h1>
				</div>
				<p>
					The invite for {{ email }} could not be revoked.<br/>The person may have either already accepted the invite, someone else revoked their invite, or you no longer have the required role to revoke their invite.
				</p>
				<p id="return-p">
					<a href="/groupchats/{{ chat_id }}/members">Return to members page</a>
				</p>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}