{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="groupchat-info-text" style="text-align: center">
				<div class="groupchat-info" style="padding-bottom: 20px" align="center">
					<img src="/static/emots/emot-thinking.gif" width="30" />
					<h2 class="section-caption" id="leave-confirmation-h2">Leave group chat "{{ name }}"?</h2>
				</div>
				<p>
					Leaving the group chat means you won't be able to view its members or message anyone in it. You'll have to contact the owners or administrators to gain back access into the group chat.
				</p>
				<form action="/groupchats/{{ chat_id }}/leave" method="post">
					<input class="btn" type="submit" value="Leave" />
				</form>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}