{%- extends 'base.html' -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/account.css"/>
	<link rel="stylesheet" href="/static/style/login.css"/>
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section account">
			<div class="col span1-5 nav">
				<div class="account-nav-links">
					<h2>Options</h2>
					<ul>
						<li>Account Info</li>
						<br/>
						<li><a href="/account/change-password">Change Password</a></li>
						<br/>
						<li><a href="/account/puid">PUID</a></li>
					</ul>
				</div>
			</div>
			<div class="col span4-5 account-content section-default">
				{% if errors or frontend_saved %}
					<div id="notif-account">
						{% if errors %}
							<div class="errors-warn">
								<div id="errors">
									{% if errors['frontend'] %}
										{{ errors['frontend'] }}
									{% endif %}
								</div>
							</div>
						{% elif frontend_saved %}
							<div class="no-errors">
								Frontend settings saved successfully!
							</div>
						{% endif %}
					</div>
				{% endif %}
				<div class="account-info">
					<h1>Account Info</h1>
					<div class="info-content">
						<div class="account-info-name" style="vertical-align: top; padding-bottom: 2em">
							<p>
								E-mail Address:
								<strong style="display: inline-block">{{ user.email }}</strong>
							</p>
							<p>
								Username:
								<strong style="display: inline-block">{{ user.username }}</strong>
							</p>
						</div>
						<div class="account-info-frontends">
							<h2>Insecure Frontend Options</h2>
							<small>Important note: The frontend options below require <strong>insecure</strong> hashing algorithms to log in to your Escargot account. Because there is no way to circumvent these authentication methods, we have to store your password in the respective hashes with your permission. Your password won't be crackable if they are enabled, but the hashes used for these passwords aren't cryptographically secure in nature and can carry the risk of being collided. Stay wary when these options are enabled.</small>
							<div class="account-frontend-form">
								<form class="account-form" action="/account" method="post">
									<input type="hidden" name="action" value="updateInsecureFrontends" />
									<input type="checkbox" name="old_msn" value="true" {% if 'msn' in user._front_data %}checked{% endif %}>
									<label for="old_msn">Old MSN support (required to log in to MSN 1/2/3/4; utilizes salted MD5).</label>
									<br/>
									<input type="checkbox" name="yahoo" value="true" {% if 'ymsg' in user._front_data %}checked{% endif %}/>
									<label for="yahoo">Yahoo! Messenger support (required to log in to Yahoo! Messenger 5; utilizes MD5 and MD5Crypt).</label>
									<br/><br/>
									<label for="password">Current Password (6+ chars):</label>
									<br/>
									<input class="field" type="password" name="password" required onkeyup="verifyPassword(this.value);" pattern=".{6,}"/>
									<br/><br/>
									<button type="submit" id="submitFrontends" class="btn" disabled>
										Update
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<script>
		function verifyPassword(value) {
			if (value.length >= 6) {
				document.getElementById('submitFrontends').disabled = false;
				return;
			}
			
			document.getElementById('submitFrontends').disabled = true;
		}
	</script>
{%- endblock -%}