{%- extends 'base.html' -%}

{%- from '_funcs.html' import icon_url, download_url, gen_client_downloads -%}

{%- block meta -%}
	<meta name="description" content="Downloads for Yahoo! Messenger clients supported by Escargot along with related extras." />
{%- endblock -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/downloads.css"/>
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator-purple">
			</div>
		</div>
		<div class="group section section-downloads-client" id="section-downloads-yahoo">
			<div class="span4-4 downloads-content">
				<div class="section-downloads-text">
					<div class="header-downloads">
						<img src="/static/yahoo-messenger-logo.png" width="50"/>
						<h1 class="section-caption" id="downloads-hdr">Yahoo! Messenger - Downloads</h1>
					</div>
					<p id="downloads-p">
						Downloads for Yahoo! Messenger clients are here.
					</p>
					<p><a class="yahoo-link" href="#clients">Clients</a></p>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator-purple content-end spin180">
			</div>
		</div>
	</div>
	
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator-purple">
			</div>
		</div>
		<div class="group section section-downloads-client" id="section-downloads-yahoo">
			<div class="span4-4 downloads-cnt">
				<div class="downloads-content">
					<div class="downloads-content downloads" id="clients">
						<div class="section-downloads-text">
							<h1>Clients</h1>
						</div>
					{{ gen_client_downloads(download, mirrored, display, 'yahoo') }}
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator-purple content-end spin180">
			</div>
		</div>
	</div>
	
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator-purple">
			</div>
		</div>
		<div class="group section section-downloads-client" id="section-downloads-yahoo">
			<div class="span4-4 downloads-cnt">
				<div class="downloads-content">
					<div class="downloads-content downloads" id="clients">
						<div class="section-downloads-text">
							<h1>Extras</h1>
						</div>
						<p style="text-align: center; padding-top: 10px">
							We currently offer no extras for Yahoo! Messenger. Check back later.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator-purple content-end spin180">
			</div>
		</div>
	</div>
	
	<style>
		.yahoo-link {
			color: #e2e100 !important;
		}
	</style>
{%- endblock -%}
