{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			{% if errors or logged_out %}
				<div class="notif" style="margin-left: 5%; margin-right: 5%; padding-top: 20px">
					{% if errors %}
						<div class="errors-warn">
							<p id="errors">{% if errors['email'] %}{{ errors['email'] }}{% elif errors['password'] %}{{ errors['password'] }}{% elif errors['account'] %}{{ errors['account'] }}{% endif %}</p>
						</div>
					{% elif logged_out %}
						<div id="no-errors" class="no-errors">
							You&apos;ve been successfully logged out of the Escargot site.
						</div>
					{% endif %}
				</div>
			{% endif %}
			<div class="login-text" style="padding-top: 20px">
				<div class="header-login" style="text-align: center">
					<img src="/static/e-logo.png" width="50" style="position:relative;top:15px;"/>
					<h1 class="section-caption" id="login-hdr">Login</h1>
					<p id="login-p">
						Log in to manage your Escargot account.
					</p>
				</div>
				<form id="login-form" style="width: 100%" method="post">
					<div>
						<label for="email" class="field-label">Email:</label>
						<br/>
						<input type="email" class="field" name="email" placeholder="your@email.com" required />
						<br/>
						<a href="/register" class="goto">Don't have an Escargot account?</a>
					</div>
					<div>
						<label for="password" class="field-label">Password (6+ characters):</label>
						<br/>
						<input type="password" class="field" name="password" required pattern=".{6,}"/>
						<br/>
						<a href="/forgot" class="goto">Forgot your password?</a>
					</div>
					<br/><br/>
					<div class="login-options">
						<button type="submit" id="login-btn" class="btn" style="float: right; margin-right: 43%; margin-top: -40px">
							Log in
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		.header-login {
			position: relative;
			width: 100%;
			margin-left: 1em;
			padding-bottom: 20px;
		}

		#login-form {
			margin-left: 23%;
			padding-bottom: 3em;
		}
	</style>
{%- endblock -%}